.dialog-birthday_message {
    position: absolute;
    /* border: 1px solid #bce3ff; */

    left: 0;
    right: 0;
    bottom: 0;
    top: 15%;
    z-index: 99;
    width: 480px;
    height: 780px;

    margin: auto;
}
.ballu{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.birthday_container {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: block;
    background: transparent;
    overflow: hidden;
}

.balloons {
    z-index: 1;
    position: absolute;
    top: 40px;
    left: 50%;
    width: 100%;
    /* display: inline; */
    /* margin-left: -25%; */
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.balloonn {
    
    display: inline-flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 60px;
    background: hsl(215, 50%, 65%);
    background: rgba(102, 145, 204, 1);
    border-radius: 80%;
    position: relative;
    box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
    margin: 10px 1px;
    transition: transform 0.5s ease;
    z-index: 2;
    animation: balloons 4s ease-in-out infinite;
    transform-origin: bottom center;
}

@keyframes balloons {

    0%,
    100% {
        transform: translateY(0) rotate(-4deg);
    }

    50% {
        transform: translateY(-25px) rotate(4deg);
    }
}

.balloonn:before {
    content: "▲";
    font-size: 20px;
    color: hsl(215, 30%, 50%);
    color: rgba(88, 125, 176, 1);
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -13px;
    z-index: -100;
}

.balloonn:after {
    display: inline-block;
    top: 65px;
    position: absolute;
    height: 100px;
    width: 2px;
    margin: 0 auto;
    left: 24px;

    content: "";
    background: rgba(0, 0, 0, 0.1);
}

.balloonn:nth-child(1) {
    box-shadow: inset -10px -10px 0 rgba(88, 125, 176, 1);
}

.balloonn:nth-child(2) {
    background: hsl(245, 40%, 65%);
    animation-duration: 3.5s;
}

.balloonn:nth-child(2):before {
    color: hsl(245, 40%, 65%);
}

.balloonn:nth-child(3) {
    background: hsl(139, 50%, 60%);
    animation-duration: 3s;
}

.balloonn:nth-child(3):before {
    color: hsl(139, 30%, 50%);
}

.balloonn:nth-child(4) {
    background: hsl(59, 50%, 58%);
    animation-duration: 4.5s;
}

.balloonn:nth-child(4):before {
    color: hsl(59, 30%, 52%);
}

.balloonn:nth-child(5) {
    background: hsl(23, 55%, 57%);
    animation-duration: 5s;
}

.balloonn:nth-child(5):before {
    color: hsl(23, 44%, 46%);
}
.balloonn:nth-child(6) {
    background: hsl(128, 55%, 57%);
    animation-duration: 6s;
}

.balloonn:nth-child(6):before {
    color: hsl(115, 44%, 46%);
}
.balloonn:nth-child(7) {
    background: hsl(192, 55%, 57%);
    animation-duration: 3.5s;
}

.balloonn:nth-child(7):before {
    color: hsl(187, 44%, 46%);
}
.balloonn:nth-child(8) {
    background: hsl(327, 55%, 57%);
    animation-duration: 6.5s;
}

.balloonn:nth-child(8):before {
    color: hsl(330, 44%, 46%);
}
